.footer {
    margin-top: 100px;
    background: var(--main-black);
    padding: 100px 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 223px;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-block {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.footer-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;
    color: #fff;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-list a {
    color: var(--main-white);
}

.footer-back {
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    color: var(--main-black);
    background: #fff;
    border-radius: 8px;
    padding: 15px 10px;
    width: 358px;
    height: 55px;
}

.footer-social {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}