.footer {
    margin-top: 100px;
    background: var(--main-black);
    padding: 100px 0;
}

.footer-mob {
    display: none;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 223px;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-block {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.footer-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;
    color: #fff;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-list a {
    color: var(--main-white);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
}

.footer-back {
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    color: var(--main-black);
    background: #fff;
    border-radius: 8px;
    padding: 15px 10px;
    width: 358px;
    height: 55px;
}

.footer-social {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social a {
    height: 50px;
    display: block;
}

@media screen and (max-width: 1491px) {
    .footer {
        padding: 46px 0 69px 0;
    }

    .footer img {
        width: 85px;
    }

    .footer .container {
        gap: 63px;
        align-items: start;
    }

    .footer-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footer-social {
        margin-top: 38px;
    }
}

@media screen and (max-width: 1179px) {
    .footer {
        margin-top: 60px;
        padding: 46px 0;
    }

    .footer .container {
        gap: 39px;
    }

    .footer-list a {
        font-size: 13px;
    }

    .footer-title {
        font-size: 14px;
    }

    .footer-back {
        font-size: 14px;
        width: 228px;
        height: 40px;
    }

    .footer-social {
        margin-top: 63px;
    }

    .footer-social svg {
        width: 40px;
        height: 40px;
    }

    .footer-social a {
        height: 40px;
    }


}

@media screen and (max-width: 959px) {
    .footer {
        display: none;
    }

    .footer-mob {
        display: block;
        background: var(--main-black);
        margin-top: 70px;
        padding: 15px 0;
    }

    .footer-mob  .container {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .footer-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 25px;
        border-bottom: 1px solid #1d1d1d;
    }

    .footer-block {
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding-bottom: 25px;
        border-bottom: 1px solid #1d1d1d;
    }

    .footer-title {
        font-size: 16px;
    }

    .footer-list {
        gap: 11px;
    }

    .footer-list a {
        font-size: 13px;
    }

    .footer-back {
        font-size: 14px;
        border-radius: 6px;
        padding: 10px;
        width: 100%;
        height: 40px;
    }

    .footer-social {
        margin-top: 0;
        display: flex;
        gap: 20px;
    }

    .footer-social a {
        height: 28px;
        display: block;
    }

    .footer-social svg {
        width: 28px;
        height: 28px;
    }

    .footer-mob img {
        width: 85px;
    }
}