* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

:root {
    --main-black: #0f0f0f;
    --main-grey: #dfdfdf;
    --grey-2: #f9f9f9;
    --muzhskoe: #b4dcfd;
    --zhenskoe: #fdb4d1;
    --popular: #991a1a;
    --main-white: #fefefe;
    --grey-3: #b8b8b8;
    --grey-4: #c2c2c2;
    --popular-main: #e63232;
    --grey-5: #f6f6f6;
    --grey-6: #adadad;
    --popular-color: #991a1a;
    --main-gray: #dfdfdf;
}

@font-face {
    font-family: "UKIJ Qara", sans-serif;
    src: url('../assets/fonts/UKIJQara.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "UKIJ Qara", sans-serif;
    src: url('../assets/fonts/UKIJQara-b.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "UKIJ Qara", sans-serif;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--main-black);
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.title-wrapper a {
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--main-black);
}

.container {
    max-width: 1492px;
    margin: 0 auto;
}