* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

:root {
    --main-black: #0f0f0f;
    --main-grey: #dfdfdf;
    --grey-2: #f9f9f9;
    --muzhskoe: #b4dcfd;
    --zhenskoe: #fdb4d1;
    --popular: #991a1a;
    --main-white: #fefefe;
    --grey-3: #b8b8b8;
    --grey-4: #c2c2c2;
    --popular-main: #e63232;
    --grey-5: #f6f6f6;
    --grey-6: #adadad;
    --popular-color: #991a1a;
    --main-gray: #dfdfdf;
}

@font-face {
    font-family: "UKIJ Qara", sans-serif;
    src: url('../assets/fonts/UKIJQara.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "UKIJ Qara", sans-serif;
    src: url('../assets/fonts/UKIJQara-b.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "UKIJ Qara", sans-serif;
}

.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--main-black);
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.title-wrapper a {
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--main-black);
    display: flex;
    gap: 7px;
    align-items: center;
}

.container {
    max-width: 1492px;
    margin: 0 auto;
}

.links-wrapper {
    margin-top: 54px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--main-black);
}

.links-wrapper a:first-child {
    color: var(--grey-3);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.toast {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #000;
    color: #fff;
    padding: 12px 20px;
    border-radius: 8px;
    opacity: 0;
    transition: .3s;
}

.toast.show {
    opacity: 1;
}

.auth-overlay {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(8px);
    background: rgba(6, 6, 6, .15);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.auth-overlay.is-active {
    display: flex;
}

.auth-modal {
    background: var(--main-white);
    border-radius: 24px;
    padding: 40px 95px;
    width: 736px;
    position: relative;
}

.auth-close {
    position: absolute;
    top: 43px;
    right: 95px;
    background: none;
    border: none;
    cursor: pointer;
}

.auth-step {
    display: none;
}

.auth-step.is-active {
    display: block;
}

.auth-input {
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    height: 55px;
    background: #f8f8f8;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--main-black);
}

.auth-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--main-black);
}

.auth-btn {
    border-radius: 12px;
    padding: 13px 10px;
    width: 273px;
    height: 55px;
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--main-white);
    background: var(--main-black);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto 0;
}

.auth-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000;
}

.auth-desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000;
    max-width: 422px;
}

.auth-links {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth-links button {
    font-weight: 700;
    font-size: 15px;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-black);
}

/* Оверлей модального окна */
.basket-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background: rgba(6, 6, 6, 0.15);
    z-index: 1000;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.basket-modal-overlay.active {
    display: block;
    opacity: 1;
}

/* Модальное окно корзины */
.basket-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 951px;
    background: var(--main-white);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.basket-modal-overlay.active .basket-modal {
    transform: translateX(0);
}

.basket-content {
    max-width: 706px;
    width: 100%;
    padding: 30px 0 30px 30px;
}

/* Заголовок модального окна */
.basket-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.basket-modal-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--main-black);
}

.basket-modal-close {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Контент корзины */
.basket-modal-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.basket {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket-item:first-child {
    padding: 0;
    border: none;
}

.basket-item {
    padding-top: 30px;
    border-top: 1px solid var(--main-gray);
}

.basket-wrapper {
    display: flex;
    gap: 36px;
}

.basket-name {
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--main-black);
}

.basket-article {
    margin-top: 7px;
    display: flex;
    gap: 5px;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: var(--grey-6);
}

.basket-price {
    margin-top: 7px;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000;
}

.basket-item {
    display: flex;
    gap: 36px;
    align-items: center;
}

.basket-block {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.basket-count {
    border: 1px solid var(--main-gray);
    border-radius: 10px;
    padding: 0px 10px;
    width: 130px;
    height: 46px;
    display: flex;
    align-items: center;
    gap: 22px;
    justify-content: space-between;
}

.basket-count button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.basket-count button:first-child::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 1px;
    background: var(--main-gray);
    right: -20px;
    top: 15px;
    transform: rotate(90deg);
}

.basket-count button:last-child::after {
    position: absolute;
    content: "";
    width: 26px;
    height: 1px;
    background: var(--main-gray);
    left: -20px;
    top: 15px;
    transform: rotate(90deg);
}

.basket-count span {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000;
}

.basket-links {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.basket-links a:first-child {
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--main-black);
    background: var(--grey-5);
    border-radius: 12px;
    padding: 13px 10px;
    width: 328px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket-links a:last-child {
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--main-white);
    background: var(--main-black);
    border-radius: 12px;
    padding: 13px 10px;
    width: 328px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket-result {
    margin-top: 40px;
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--main-black);
}


@media screen and (max-width: 1491px) {
    .container {
        max-width: 1180px;
    }

    .title-wrapper a {
        font-size: 14px;
    }

    .auth-modal {
        padding: 40px 92px;
        width: 730px;
    }


    /* Оверлей модального окна */
    .basket-modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(8px);
        background: rgba(6, 6, 6, 0.15);
        z-index: 1000;
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .basket-modal-overlay.active {
        display: block;
        opacity: 1;
    }

    /* Модальное окно корзины */
    .basket-modal {
        max-width: 1131px;
    }

    .basket-content {
        max-width: 730px;
    }

    .basket-wrapper {
        gap: 48px;
    }

    .basket-item {
        gap: 48px;
    }

    .basket-links {
        gap: 44px;
    }

}

@media screen and (max-width: 1179px) {
    .container {
        max-width: 960px;
    }

    .links-wrapper {
        margin-top: 40px;
        font-size: 14px;
    }

    .title {
        font-size: 32px;
    }

    .title-wrapper a {
        font-size: 11px;
    }

    .title-wrapper a svg {
        width: 6px;
        height: 10px;
    }

    .auth-modal {
        padding: 44px 83px;
        width: 713px;
    }

    .auth-close {
        top: 43px;
        right: 79px;
    }

    .auth-input {
        font-size: 14px;
    }

    .auth-input::placeholder {
        font-size: 14px;
    }

    .auth-desc {
        font-size: 14px;
    }

    /* Модальное окно корзины */
    .basket-modal {
        max-width: 412px;
    }

    .basket-content {
        max-width: 412px;
        padding: 30px 32px 30px 30px;
    }

    .basket-modal-title {
        font-size: 32px;
    }

    /* Контент корзины */
    .basket-modal-content {
        margin-top: 20px;
        gap: 15px;
    }

    .basket-item {
        padding-top: 15px;
    }

    .basket-wrapper {
        gap: 16px;
        align-items: center;
    }

    .basket-wrapper img {
        width: 106px;
    }

    .basket-block {
        max-width: 228px;
        width: 100%;
    }

    .basket-name {
        font-size: 14px;
    }

    .basket-article {
        font-size: 14px;
    }

    .basket-price {
        font-size: 14px;
    }

    .basket-item {
        flex-direction: column;
        gap: 7px;
        align-items: end;
    }

    .basket-links {
        margin-top: 20px;
        gap: 10px;
        flex-direction: column;
    }

    .basket-links a:first-child {
        font-size: 12px;
        line-height: 130%;
        border-radius: 6px;
        padding: 10px;
        width: 100%;
        height: 40px;
    }

    .basket-links a:last-child {
        font-size: 12px;
        line-height: 130%;
        border-radius: 6px;
        padding: 10px;
        width: 100%;
        height: 40px;
    }

    .basket-result {
        margin-top: 20px;
        font-size: 16px;
    }

}

@media screen and (max-width: 959px) {
    .container {
        padding: 0 15px;
    }

    .links-wrapper {
        margin-top: 30px;
        gap: 5px;
        font-size: 14px;
    }

    .title {
        font-size: 22px;
    }

    .title-wrapper a {
        font-size: 12px;
        gap: 6px;
    }

    .title-wrapper a svg {
        width: 5px;
        height: 9px;
    }

    .auth-modal {
        border-radius: 11px;
        padding: 29px 22px;
        width: 330px;
    }

    .auth-close {
        top: 29px;
        right: 20px;
    }

    .auth-close svg {
        width: 12px;
        height: 12px;
    }

    .auth-input {
        height: 40px;
        font-size: 14px;
    }

    .auth-input::placeholder {
        font-size: 14px;
    }

    .auth-btn {
        border-radius: 6px;
        padding: 10px;
        width: 100%;
        height: 40px;
        font-size: 12px;
    }

    .auth-title {
        font-size: 14px;
    }

    .auth-desc {
        font-size: 14px;
        max-width: 100%;
    }

    .auth-links button {
        font-size: 12px;
    }

    /* Модальное окно корзины */
    .basket-modal {
        max-width: 360px;
    }

    .basket-content {
        max-width: 360px;
        padding: 30px 15px 15px 15px;
    }

    .basket-modal-title {
        font-size: 22px;
    }

    /* Контент корзины */
    .basket-modal-content {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .basket-item {
        padding-top: 20px;
    }

    .basket-wrapper {
        gap: 25px;
    }

    .basket-name {
        font-size: 14px;
    }

    .basket-article {
        margin-top: 10px;
        gap: 10px;
        font-size: 13px;
    }

    .basket-price {
        margin-top: 10px;
        font-size: 14px;
    }

    .basket-item {
        flex-direction: column;
        gap: 10px;
        align-items: end;
    }

    .basket-block {
        gap: 27px;
    }

    .basket-count {
        padding: 0px 7px 0px 3px;
        width: 110px;
        height: 34px;
        gap: 16px;
    }

    .basket-count button:first-child::before {
        right: -20px;
        top: 15px;
    }

    .basket-count button:last-child::after {
        left: -20px;
        top: 15px;
    }

    .basket-count span {
        font-size: 14px;
    }

    .basket-links {
        margin-top: 20px;
        flex-direction: column;
        gap: 5px;
    }

    .basket-links a:first-child {
        font-size: 12px;
        line-height: 130%;
        border-radius: 6px;
        padding: 10px;
        width: 100%;
        height: 40px;
    }

    .basket-links a:last-child {
        font-size: 12px;
        line-height: 130%;
        border-radius: 6px;
        padding: 10px;
        width: 100%;
        height: 40px;
    }

    .basket-result {
        margin-top: 20px;
        font-size: 16px;
    }

    .basket-wrapper img {
        width: 146px !important;
    }

    .basket-block {
        width: 160px;
    }


}

