.item-list {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.item-list li {
    max-width: 358px;
    width: 100%;
}

.item {
    padding-bottom: 10px;
}

.item-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.item-category {
    font-weight: 400;
    font-size: 13px;
    line-height: 110%;
    text-transform: uppercase;
    color: #fff;
    background: var(--main-black);
    border-radius: 8px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-name {
    margin-top: 10px;
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--main-black);
}

.item-price {
    margin-top: 6px;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--main-black);
}

.item-select {
    height: 30px;
}

@media screen and (max-width: 1491px) {
    .item-list {
        margin-top: 30px;
    }

    .item-list li {
        max-width: 280px;
    }

    .item-list img {
        max-width: 280px;
    }

    .item-name {
        margin-top: 10px;
    }

}

@media screen and (max-width: 1179px) {
    .item-list {
        margin-top: 20px;
        gap: 16px;
    }

    .item-list li {
        max-width: 228px;
    }

    .item-list img {
        max-width: 228px;
    }

    .item {
        padding-bottom: 14px;
    }

    .item-category {
        font-size: 10px;
        padding: 4px 10px;
    }

    .item-name {
        font-size: 16px;
    }

    .item-price {
        margin-top: 5px;
        font-size: 14px;
    }

    .item-select {
        height: 25px;
    }

    .item-select svg {
        height: 25px;
        width: 25px;
    }
}

@media screen and (max-width: 959px) {
    .item-list {
        margin-top: 30px;
        gap: 16px 10px;
        justify-content: space-between;
    }

    .item-list li {
        max-width: 160px;
    }

    .item-list img {
        max-width: 160px;
    }

    .item {
        padding-bottom: 0;
    }

    .item-category {
        font-size: 10px;
        border-radius: 7px;
        padding: 4px 6px;
    }

    .item-name {
        margin-top: 9px;
        font-size: 12px;
    }

    .item-price {
        margin-top: 2px;
        font-size: 13px;
    }

}