.order-wrapper {
    margin-top: 20px;
    display: flex;
    padding-left: 378px;
    justify-content: space-between;
}

.order-basket {
    max-width: 547px;
}

.order-block {
    margin-top: 30px;
    display: flex;
    gap: 38px;
    align-items: start;
}

.order-delivery {
    margin-top: 40px;
}

.order-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-form input {
    background: #f8f8f8;
    border-radius: 10px;
    padding: 10px 30px;
    width: 100%;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--main-black);
    border: none;
}

.order-form input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--main-black);
}

.order-form div {
    display: flex;
    gap: 11px;
}

.order-form div input {
    width: 268px;
}

.order-commit {
    margin-top: 40px;
}

.order-commit textarea {
    margin-top: 20px;
    font-family: "UKIJ Qara", sans-serif;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: var(--grey-3);
    border: none;
    height: 210px;
    background: var(--grey-5);
}

.order-commit textarea::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: var(--grey-3);
}

.order-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 110%;
    text-transform: uppercase;
    color: #000;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--main-grey);
}

.order-article {
    margin-top: 7px;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: var(--grey-6);
    display: flex;
    gap: 5px;
    align-items: center;
}

.order-count {
    margin-top: 7px;
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: var(--grey-3);
}

.order-price {
    margin-top: 7px;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000;
}

.order-result {
    max-width: 358px;
    width: 100%;
}

.order-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--main-grey);
}

.order-list li {
    display: flex;
    justify-content: space-between;
}

.order-list li span {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000;
}

.order-sum {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.order-sum span {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000;
}

.order-btn {
    margin-top: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--main-white);
    border-radius: 12px;
    padding: 13px 30px;
    width: 100%;
    height: 55px;
    background: var(--main-black);
}

.order-choose {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--main-black);
}

.order-choose label {
    display: flex;
    gap: 10px;
}

.delivery {
    margin-top: 20px;
    width: 100%;
    border-radius: 12px;
    padding: 13px 30px;
    height: 55px;
    background: var(--main-black);
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--main-white);
}

@media screen and (max-width: 1491px) {
    .order-wrapper {
        margin-top: 40px;
        padding-left: 150px;
    }

    .order-basket {
        max-width: 580px;
    }

    .order-block {
        margin-top: 30px;
        gap: 74px;
    }

    .order-block img {
        width: 224px;
    }

    .order-form {
        margin-top: 27px;
    }

    .order-form div {
        gap: 20px;
    }

    .order-form div input {
        width: 280px;
    }

    .order-result {
        max-width: 279px;
    }

    .order-btn {
        margin-top: 20px;
    }

}

@media screen and (max-width: 1179px) {
    .order-wrapper {
        margin-top: 40px;
        padding-left: 0;
    }

    .order-basket {
        max-width: 547px;
    }

    .order-block {
        margin-top: 30px;
        gap: 26px;
    }

    .order-block div {
        max-width: 216px;
    }

    .order-form input {
        font-size: 14px;
    }

    .order-form input::placeholder {
        font-size: 14px;
    }

    .order-form div {
        display: flex;
        gap: 11px;
    }

    .order-form div input {
        width: 268px;
    }

    .order-title {
        font-size: 32px;
        padding-bottom: 22px;
    }

    .order-article {
        font-size: 14px;
    }

    .order-count {
        font-size: 14px;
    }

    .order-price {
        font-size: 14px;
    }

    .order-result {
        max-width: 350px;
    }

    .order-list {
        margin-top: 21px;
        gap: 13px;
        padding-bottom: 22px;
    }

    .order-list li span {
        font-size: 14px;
    }

    .order-sum {
        margin-top: 21px;
    }

    .order-sum span {
        font-size: 14px;
    }

    .order-btn {
        margin-top: 21px;
        font-size: 12px;
        line-height: 130%;
        border-radius: 6px;
        padding: 10px;
        height: 40px;
    }

    .order-choose {
        margin-top: 20px;
        gap: 8px;
        font-size: 14px;
    }

    .delivery {
        border-radius: 6px;
        padding: 10px;
        height: 40px;
        font-size: 12px;
        line-height: 130%;
    }
}

@media screen and (max-width: 959px) {
    .order-wrapper {
        margin-top: 30px;
        flex-direction: column;
        padding-left: 0;
        gap: 25px;
    }

    .order-basket {
        max-width: none;
    }

    .order-block {
        margin-top: 20px;
        gap: 24px;
    }

    .order-block img {
        width: 146px;
    }

    .order-delivery {
        margin-top: 25px;
    }

    .order-form {
        margin-top: 20px;
    }

    .order-form input {
        padding: 10px 10px 10px 20px;
        width: 100%;
        height: 50px;
        font-size: 14px;
    }

    .order-form input::placeholder {
        font-size: 14px;
    }

    .order-form div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .order-form div input {
        width: 100%;
    }

    .order-commit {
        margin-top: 25px;
    }

    .order-commit textarea {
        padding: 25px;
        font-size: 14px;
        height: 210px;
    }

    .order-commit textarea::placeholder {
        font-size: 14px;
    }

    .order-title {
        font-size: 20px;
        line-height: 130%;
        padding-bottom: 20px;
    }

    .order-article {
        margin-top: 10px;
        font-size: 13px;
        gap: 10px;
    }

    .order-count {
        margin-top: 10px;
        font-size: 13px;
    }

    .order-price {
        margin-top: 10px;
        font-size: 14px;
    }

    .order-result {
        max-width: none;
        width: 100%;
    }

    .order-list {
        gap: 20px;
        padding-bottom: 20px;
    }

    .order-list li span {
        font-size: 14px;
    }

    .order-sum {
        margin-top: 20px;
    }

    .order-sum span {
        font-size: 14px;
    }

    .order-btn {
        margin-top: 20px;
        font-size: 12px;
        line-height: 130%;
        border-radius: 6px;
        padding: 10px;
        width: 100%;
        height: 40px;
    }

    .order-choose {
        margin-top: 20px;
        gap: 10px;
        font-size: 14px;
    }

    .delivery {
        margin-top: 20px;
        border-radius: 6px;
        padding: 10px;
        height: 40px;
        font-size: 12px;
        line-height: 130%;
    }
}